<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova.plugin.mobilekeys" version="0.0.1">
   <name>MobileKeys</name>
   <js-module name="MobileKeys" src="www/MobileKeys.js">
      <clobbers target="cordova.plugins.MobileKeys" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="MobileKeys">
            <param name="android-package" value="cordova.plugin.mobilekeys.MobileKeys" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/MobileKeys.java" target-dir="src/cordova/plugin/mobilekeys/MobileKeys" />
      <source-file src="src/android/MobileKeysImplementation.java" target-dir="src/cordova/plugin/mobilekeys/MobileKeysImplementation" />
      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
      <resource-file src="libs/mobilekeys-android-sdk-debug-7.2.2.aar" target="libs/mobilekeys-android-sdk-debug-7.2.2.aar" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="MobileKeys">
            <param name="ios-package" value="MobileKeys" />
         </feature>
      </config-file>
      <source-file src="src/ios/MobileKeys.m" />
   </platform>
</plugin>